.buildingButton{
    background-color: white !important;
    color: black !important;
    width: 70%;
    padding: 0.3rem !important;
    margin-top: 0.3rem !important;
    text-decoration: underline !important;
    text-decoration-color: black !important;
    text-align: left !important;
}

.buildingList{
    width: 100%;
    display: flex;
    justify-content: start !important;   
    flex-direction: column;
    align-items: center !important;
    margin-bottom: 0rem !important;    
}

.buildingListDiv{
    min-height: 15vh;
    max-height: 30vh;
    overflow-y: scroll !important;
}