.buildingButton{
    background-color: white !important;
    color: black !important;
    width: 70%;
    padding: 0.3rem !important;
    margin-top: 0.3rem !important;
    text-decoration: underline !important;
    text-decoration-color: black !important;
}

.buildingList{
    width: 100%;
    display: flex;
    justify-content: center;   
    flex-direction: column;
    align-items: center;    
}

.buildingListDiv{
    min-height: 15vh;
    max-height: 25vh;
    overflow-y: scroll !important;
}