.classroomButton{
    background-color: #0a543c !important;
    color: white !important;
    width: 40% !important;
    padding: 1rem !important;
    margin: 0.5rem !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.classroomList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0rem !important;
}

.classroomListDiv{
    background-color: #ebeaea;
    max-height: 50vh;
    overflow-y: scroll !important;
}