.buildingBanner {
    background-color: #d04a01 !important;
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
}

.directionsIcons{
    display: flex;
    justify-content: space-between;
}

.imgFrame {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 11.8px;
}

.itemContainer {
    display: flex;
    align-items: center;
    padding: 4px;
}

.avFeatureSvg {
    width: 30px;
    height: 20px;
    margin-left: 5px;
}
