
.hr50{
    width: 50% !important;
    height: 2px !important;
    margin: auto !important;
}
.btnGreen{
    background-color: #00543c !important;
    color: white !important;
}

.textCenter{
    text-align: center;
}

.btnWide{
    width: 70%;
    padding: 1rem !important;
    margin-top: 1rem !important;
}